@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-cursive: var(--font-cedarville);
  --font-jetbrains: var(--font-jetbrains-mono);
  --font-grotesk: var(--font-space-grotesk);
}
